div.hardware-item{
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 12px;
  margin-top: 4.5px;
}
div.hardware-board{
	background:url(../img/kz-zb-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-board-item{
	background:url(../img/board.png) no-repeat;
	width:268px;
	height: 185px;
}

div.hardware-light{
	background:url(../img/sc-ledd-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-light-item{
	background:url(../img/light.png) no-repeat;
	width:43px;
	height: 78px;
}

div.hardware-container div.hardware-adapter-item{
	background:url(../img/adapter.png) no-repeat;
	width:36px;
	height: 64px;
}

div.hardware-switch{
	background:url(../img/sr-kgmk-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-switch-item{
	background:url(../img/kg.png) no-repeat;
	width:43px;
	height: 78px;
}

div.hardware-button{
	background:url(../img/sr-ajmk-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-button-item{
	background:url(../img/aj.png) no-repeat;
	width:43px;
	height: 78px;
}

div.hardware-soundSensor{
	background:url(../img/sc-syscmk-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-soundSensor-item{
	background:url(../img/sound.png) no-repeat;
	width:43px;
	height: 78px;
}

div.hardware-infraredOut{
	background:url(../img/sc-hwfsmk-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-infraredOut-item{
	background:url(../img/hwfs.png) no-repeat;
	width:43px;
	height: 78px;
}

div.hardware-digitalTube{
	background:url(../img/xs-smgmk-big.png) no-repeat;
	background-size: contain;
}


div.hardware-container div.hardware-digitalTube-item{
	background:url(../img/smg.png) no-repeat;
	width:127px;
	height: 78px;
}

div.hardware-dcMotor{
	background:url(../img/zx-djkzmk-big.png) no-repeat;
	background-size: contain;
}

div.hardware-container div.hardware-dcMotor-item{
	background:url(../img/djkz.png) no-repeat;
	width:128px;
	height: 187px;
}

div.hardware-streeringEngine{
	background:url(../img/zx-dj-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-streeringEngine-item{
	background:url(../img/dj.png) no-repeat;
	width:128px;
	height: 187px;
}
div.hardware-pm25{
	background:url(../img/cg-pm-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-pm25-item{
	background:url(../img/pm.png) no-repeat;
	width:43px;
	height: 78px;
}
div.hardware-illumination{
	background:url(../img/cg-ggmk-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-illumination-item{
	background:url(../img/gg.png) no-repeat;
	width:43px;
	height: 78px;
}
div.hardware-sg{
	background:url(../img/cg-sgmk-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-sg-item{
	background:url(../img/sg.png) no-repeat;
	width:43px;
	height: 78px;
}
div.hardware-znz{
	background:url(../img/cg-znzmk-big.png) no-repeat;
	background-size: contain;
}
div.hardware-temperatue{
	background:url(../img/cg-wdmk-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-temperatue-item{
	background:url(../img/wd.png) no-repeat;
	width:43px;
	height: 78px;
}
div.hardware-fireA{
	background:url(../img/cg-hymk-big.png) no-repeat;
	background-size: contain;
}
div.hardware-container div.hardware-fireA-item{
	background:url(../img/hy.png) no-repeat;
	width:43px;
	height: 78px;
}
div.hardware-wifi{
	background:url(../img/tx-wifi.png) no-repeat;
	background-size: contain;
}
div.hardware-serialPortIn{
	background:url(../img/tx-ck.png) no-repeat;
	background-size: contain;
}
div.hardware-ly{
	background:url(../img/tx-ly.png) no-repeat;
	background-size: contain;
}

div.hardware-container{
	float:left;
	position: relative;
	width:100%;
	height:100%;
	//border:1px solid #000;
	overflow:hidden;
}
div.hardware-container div.hardware-container-item{
	//width:100px;
	//height:40px;
	top:20px;
	font-size:0px;//12px;
	//padding:10px 20px;
	cursor:pointer;
	color:#F00;
	background-size: contain;
}
.hardware-item-border-show{
	border:1px solid #F00;
}
.content-rotate{
	transform:rotate(180deg);
}


