.rjbc_mod{
  padding-left: 180px;
  padding-right: 180px;
}

.rjbc_mod .nav-second ul li li{
  padding-left: 20px;
}

.rjbc_mod .nav-second  .zhuban{
  background:url('../img/zhuban.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .deng{
  background:url('../img/deng.png') no-repeat  20px center;
}

.rjbc_mod .nav-second  .anjian{
  background:url('../img/anjian.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .zjbkg{
  background:url('../img/zjbkg.png') no-repeat 20px center;
}



.rjbc_mod .nav-second  .tjfz{
  background:url('../img/lct/tjfz.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .tjxh{
  background:url('../img/lct/tjxh.png') no-repeat  20px center;
}

.rjbc_mod .nav-second  .yyxh{
  background:url('../img/lct/yyxh.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .jsxh{
  background:url('../img/lct/jsxh.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .fh{
  background:url('../img/lct/fh.png') no-repeat 20px center;
}



.rjbc_mod .nav-second  .yshs{
  background:url('../img/lct/yshs.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .dshs{
  background:url('../img/lct/dshs.png') no-repeat  20px center;
}

.rjbc_mod .nav-second  .fzhs{
  background:url('../img/lct/fzhs.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .sjhs{
  background:url('../img/lct/sjhs.png') no-repeat 20px center;
}

.rjbc_mod .nav-second  .zdyhs{
  background:url('../img/lct/zdyhs.png') no-repeat 20px center;
}

.main .nav-second  ul li.ypzmk li{
  height:45px;
  line-height:45px;
}

.main .nav-second  ul li.lckzmk1 li,
.main .nav-second  ul li.lckzmk2 li{
  height:40px;
  line-height:40px;
}

.rjbc_mod .side{
  position:absolute;
  right: 0px;
  bottom:0px;
  top: 0px;
}

.rjbc_mod .side .yjlj-side{
  height:32%;
}

.rjbc_mod .side .var-side{
  height:32%;
  position: relative;
}

.rjbc_mod .side .var-side .operator{
  position: absolute;
  bottom: 10px;
}
.rjbc_mod .side .var-side .btn{
  float: left;
  margin-left: 20px;
}

.rjbc_mod .side .var-side .content{
  overflow: scroll;
  height: 55%;
}

.rjbc_mod .side .var-side table{
   
}

.rjbc_mod .side .var-side table tr:first-child{
   background-color:#6dd526;
   color: #fff
}

.rjbc_mod .side .var-side table tr:first-child th{
   border: 2px solid #fff;
}

.rjbc_mod .side .var-side table .normal{
  background-color:#dcdcdc;
  color:#8c8c8c;
  cursor: pointer;
}

.rjbc_mod .side .var-side table .special{
  background-color:#1677E8;
  color:white;
  cursor: pointer;
}


.rjbc_mod .side .var-side th,td{
  border: 1px solid #b7b7b7;
}

.rjbc_mod .side .code-side{
  height: 32%;
  width: 100%;
}

.rjbc_mod .side .code-side .code_view{
  z-index: 9999;
  bottom: 34px;
  left: 140px;
  background:url(../img/code_view.png) no-repeat;
  width: 33px;
  height: 33px;
  position: relative;
  cursor: pointer;
}

#software-var{
  position: absolute;
  left: 40%;
  top: 20%;
}

#software-var span,.input,.sel{
display: inline-block;
}

#software-var .input,.sel{
float: right;
}

#software-var .item{
margin-top: 10px;
}

#software-var .operator{
  position: relative;
  top: 0px;
  left: 0px;
  width: 248px;
  height: 20px;
  padding: 5px 10px;
  background-color: #FFF;
}
#software-var .btn{
  float: left;
  margin-left: 60px;
}

