.yjlj_mod{
  padding-left: 180px;
  padding-right: 180px;
}

.yjlj_mod .nav-second ul li li{
  padding-left: 20px;
}

.yjlj_mod .nav-second .kg{
  background:url('../img/kg.png') no-repeat 20px center;
}

.yjlj_mod .nav-second .zhuban{
  background:url('../img/zhuban.png') no-repeat 20px center;
}

.yjlj_mod .nav-second .deng{
  background:url('../img/deng.png') no-repeat 20px center;
}
.yjlj_mod .nav-second .jpcl{
  background:url('../img/jpcl.png') no-repeat  20px center;
}

.yjlj_mod .nav-second .aj{
  background:url('../img/aj.png') no-repeat 20px center;
}

.yjlj_mod .side{
  height:100%;
  position:absolute;
  right: 0
}

.yjlj_mod .side ul{
    margin: 0;
    padding: 0;
	background-color:#fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

.yjlj_mod .side ul li{
	line-height:45px;
    list-style: none;
	font-size: 14px;
	color:#828487;
	padding-left: 20px;
	border-bottom: 1px solid #f0f0f0;
	cursor:pointer;
	position:relative;
	border-bottom: 0px;
}

.yjlj_mod .side  .zhuban{
  background:url('../img/zhuban.png') no-repeat 20px center;
}

.yjlj_mod .side  .deng{
  background:url('../img/deng.png') no-repeat  20px center;
}

.yjlj_mod .side  .anjian{
  background:url('../img/anjian.png') no-repeat 20px center;
}

.yjlj_mod .side  .zjbkg{
  background:url('../img/zjbkg.png') no-repeat 20px center;
}

.yjlj_mod .buy{
  bottom: 30px;
  position: absolute;
  left: 20px;
}