.dialog {
	position: relative;
	z-index: 999;
	.close-btn {
		font-size: 20px;
		top: 0;
		cursor: pointer;
		z-index: 1000;
		display: block;
		position: absolute;

		&.left {
			left: 10px;
		}
		&.right {
			right: 10px;
		}
	}
}