* {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
	outline: none;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li {
	list-style: outside none none;
}

ul, li {
	margin: 0;
}

input {
	outline: none;
}

body {
	font-family: 'Microsoft YaHei';
	color: #515151;
	font-size: 14px;
}

a, a:visited {
	text-decoration: none;
}

.main {
	background: url('../image/bg.jpg') no-repeat center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;

	.content {
		margin-top: 90px;
		font-size: 18px;
		padding-left: 80px;
		padding-right: 50px;
		padding-top: 90px;

		.link {
			text-decoration: none;
			color: #EF6049;
		}

		.blue {
			color: #197EDC;
		}

		.info {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		.margin {
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	.author {
		position: absolute;
		font-size: 16px;
		bottom: 80px;
		right: 45px;
		font-weight: bold;
		color: #EF6049;
	}

	.version {
		position: absolute;
		font-size: 14px;
		left: 50px;
		bottom: 30px;
	}
}