/* line 7, bright.scss */
.theme-bright {
  color: #676767;
}
/* line 9, bright.scss */
.theme-bright .header {
  background-color: #e4e9ef;
}
/* line 11, bright.scss */
.theme-bright .header .logo {
  background: url("/assets/images/logo2.png") no-repeat center;
  background-size: 103px 50px;
}
/* line 16, bright.scss */
.theme-bright .header .menu .dropdown-menu {
  background-color: white;
}
/* line 19, bright.scss */
.theme-bright .header .menu .dropdown-menu > li:hover {
  background-color: #dde4ec;
}
/* line 22, bright.scss */
.theme-bright .header .menu .dropdown-menu > li > a {
  color: #515151;
}
/* line 28, bright.scss */
.theme-bright .header .menu .btn {
  color: #676767;
}
/* line 30, bright.scss */
.theme-bright .header .menu .btn:hover {
  color: white;
  background-color: #5592df;
}
/* line 36, bright.scss */
.theme-bright .header .menu .open .btn {
  color: white;
  background-color: #5592df;
}
/* line 43, bright.scss */
.theme-bright .header .menu .dropdown-submenu:hover > a:after {
  border-right-color: #9b9b9b;
}
/* line 47, bright.scss */
.theme-bright .header .menu .dropdown-submenu > a:after {
  border-right-color: #9b9b9b;
}
/* line 54, bright.scss */
.theme-bright .header .tab ul li {
  color: #676767;
}
/* line 56, bright.scss */
.theme-bright .header .tab ul li.active, .theme-bright .header .tab ul li:hover {
  color: white;
  background-color: #5592df;
}
/* line 66, bright.scss */
.theme-bright .hardware .left {
  background-color: #f5f5f1;
}
/* line 70, bright.scss */
.theme-bright .hardware .center {
  background-color: #f5f5f1;
}
/* line 74, bright.scss */
.theme-bright .hardware .right {
  background-color: white;
}
/* line 78, bright.scss */
.theme-bright .hardware .search {
  background-color: #e2e3e4;
}
/* line 80, bright.scss */
.theme-bright .hardware .search .key {
  color: #515151;
}
/* line 85, bright.scss */
.theme-bright .hardware .seperator {
  background-color: #e2e3e4;
}
/* line 89, bright.scss */
.theme-bright .hardware .items {
  background-color: #e2e3e4;
}
/* line 92, bright.scss */
.theme-bright .hardware .items .list li .name {
  color: #515151;
}
/* line 97, bright.scss */
.theme-bright .hardware .items .list li.active .name {
  color: white;
}
/* line 106, bright.scss */
.theme-bright .hardware .north .tools > li {
  background-color: #e4e9ef;
  color: #515151;
}
/* line 109, bright.scss */
.theme-bright .hardware .north .tools > li.active {
  background-color: #5592df;
  color: white;
}
/* line 114, bright.scss */
.theme-bright .hardware .north .tools > li:hover {
  background-color: #5592df;
  color: white;
}
/* line 122, bright.scss */
.theme-bright .hardware .copyright {
  color: #c5c5c5;
}
/* line 128, bright.scss */
.theme-bright .software .north {
  background-color: white;
}
/* line 132, bright.scss */
.theme-bright .software .menu .btn {
  color: #515151;
  background-color: white;
}
/* line 135, bright.scss */
.theme-bright .software .menu .btn:hover {
  color: white;
  background-color: #5592df;
}
/* line 141, bright.scss */
.theme-bright .software .menu .open .btn {
  color: white;
  background-color: #5592df;
}
/* line 146, bright.scss */
.theme-bright .software .menu .dropdown-menu {
  background-color: white;
}
/* line 149, bright.scss */
.theme-bright .software .menu .dropdown-menu > li:hover {
  background-color: #dde4ec;
}
/* line 152, bright.scss */
.theme-bright .software .menu .dropdown-menu > li > a {
  color: #676767;
}
/* line 160, bright.scss */
.theme-bright .software .sub-tab ul li {
  color: #515151;
}
/* line 162, bright.scss */
.theme-bright .software .sub-tab ul li.active {
  color: white;
  background-color: #5592df;
}
/* line 167, bright.scss */
.theme-bright .software .sub-tab ul li:hover {
  color: white;
  background-color: #5592df;
}
/* line 174, bright.scss */
.theme-bright .software .doEdit {
  color: #515151;
}
/* line 180, bright.scss */
.theme-bright .x-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bdbdbd;
}
/* line 185, bright.scss */
.theme-bright .x-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #bdbdbd;
}
/* line 190, bright.scss */
.theme-bright .x-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cad0d4;
}
