/* line 7, dark.scss */
.theme-dark {
  color: #dfdfdf;
}
/* line 9, dark.scss */
.theme-dark .header {
  background-color: #3e3d44;
}
/* line 11, dark.scss */
.theme-dark .header .logo {
  background: url("/assets/images/logo.png") no-repeat center;
  background-size: 103px 50px;
}
/* line 16, dark.scss */
.theme-dark .header .menu .dropdown-menu {
  background-color: #504C56;
}
/* line 19, dark.scss */
.theme-dark .header .menu .dropdown-menu > li:hover {
  background-color: #8B7AA8;
}
/* line 22, dark.scss */
.theme-dark .header .menu .dropdown-menu > li > a {
  color: #dfdfdf;
}
/* line 28, dark.scss */
.theme-dark .header .menu .btn {
  color: #dfdfdf;
}
/* line 30, dark.scss */
.theme-dark .header .menu .btn:hover {
  color: white;
  background-color: #5f5176;
}
/* line 36, dark.scss */
.theme-dark .header .menu .open .btn {
  color: white;
  background-color: #5f5176;
}
/* line 43, dark.scss */
.theme-dark .header .menu .dropdown-submenu:hover > a:after {
  border-right-color: #9b9b9b;
}
/* line 47, dark.scss */
.theme-dark .header .menu .dropdown-submenu > a:after {
  border-right-color: #9b9b9b;
}
/* line 54, dark.scss */
.theme-dark .header .tab ul li {
  color: #9B9B9B;
}
/* line 56, dark.scss */
.theme-dark .header .tab ul li.active, .theme-dark .header .tab ul li:hover {
  color: white;
  background-color: #5f5176;
}
/* line 66, dark.scss */
.theme-dark .hardware .left {
  background-color: #2d2b30;
}
/* line 70, dark.scss */
.theme-dark .hardware .center {
  background-color: #2D2B30;
}
/* line 74, dark.scss */
.theme-dark .hardware .right {
  background-color: #55545F;
}
/* line 78, dark.scss */
.theme-dark .hardware .search {
  background-color: #47434C;
}
/* line 80, dark.scss */
.theme-dark .hardware .search .key {
  color: white;
}
/* line 85, dark.scss */
.theme-dark .hardware .seperator {
  background-color: #535353;
}
/* line 89, dark.scss */
.theme-dark .hardware .items {
  background-color: #47434C;
}
/* line 92, dark.scss */
.theme-dark .hardware .items .list li .name {
  color: #dfdfdf;
}
/* line 100, dark.scss */
.theme-dark .hardware .north .tools > li {
  background-color: rgba(45, 43, 48, 0.6);
  color: #9b9b9b;
}
/* line 103, dark.scss */
.theme-dark .hardware .north .tools > li.active {
  background-color: #2d2b30;
  color: #dfdfdf;
}
/* line 108, dark.scss */
.theme-dark .hardware .north .tools > li:hover {
  color: #dfdfdf;
  background-color: #2d2b30;
}
/* line 116, dark.scss */
.theme-dark .hardware .copyright {
  color: #71707A;
}
/* line 122, dark.scss */
.theme-dark .software .north {
  background-color: #47434C;
}
/* line 126, dark.scss */
.theme-dark .software .menu .btn {
  color: #dfdfdf;
  background-color: #47434C;
}
/* line 129, dark.scss */
.theme-dark .software .menu .btn:hover {
  background-color: #5f5176;
}
/* line 134, dark.scss */
.theme-dark .software .menu .open .btn {
  background-color: #5f5176;
}
/* line 138, dark.scss */
.theme-dark .software .menu .dropdown-menu {
  background-color: #504C56;
}
/* line 141, dark.scss */
.theme-dark .software .menu .dropdown-menu > li:hover {
  background-color: #5f5176;
}
/* line 143, dark.scss */
.theme-dark .software .menu .dropdown-menu > li:hover > a {
  color: white;
}
/* line 147, dark.scss */
.theme-dark .software .menu .dropdown-menu > li > a {
  color: #dfdfdf;
}
/* line 156, dark.scss */
.theme-dark .software .sub-tab ul li.active {
  background-color: #5f5176;
}
/* line 160, dark.scss */
.theme-dark .software .sub-tab ul li:hover {
  background-color: #5f5176;
}
/* line 168, dark.scss */
.theme-dark .x-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5E5B62;
}
/* line 173, dark.scss */
.theme-dark .x-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #5E5B62;
}
/* line 178, dark.scss */
.theme-dark .x-scrollbar::-webkit-scrollbar-thumb {
  background-color: #737078;
}
