/* line 7, default.scss */
.theme-default {
  color: #dfdfdf;
}
/* line 10, default.scss */
.theme-default .dropdown-menu {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}
/* line 14, default.scss */
.theme-default .header {
  background-color: #1c242e;
}
/* line 16, default.scss */
.theme-default .header .logo {
  background: url("/assets/images/logo.png") no-repeat center;
  background-size: 103px 50px;
}
/* line 21, default.scss */
.theme-default .header .menu .dropdown-menu {
  background-color: #504C56;
}
/* line 24, default.scss */
.theme-default .header .menu .dropdown-menu > li:hover {
  background-color: #8B7AA8;
}
/* line 27, default.scss */
.theme-default .header .menu .dropdown-menu > li > a {
  color: #dfdfdf;
}
/* line 33, default.scss */
.theme-default .header .menu .btn {
  color: #dfdfdf;
}
/* line 35, default.scss */
.theme-default .header .menu .btn:hover {
  color: white;
  background-color: #5f5176;
}
/* line 41, default.scss */
.theme-default .header .menu .open .btn {
  color: white;
  background-color: #5f5176;
}
/* line 48, default.scss */
.theme-default .header .menu .dropdown-submenu:hover > a:after {
  border-right-color: #9b9b9b;
}
/* line 52, default.scss */
.theme-default .header .menu .dropdown-submenu > a:after {
  border-right-color: #9b9b9b;
}
/* line 59, default.scss */
.theme-default .header .tab ul li {
  color: #9B9B9B;
}
/* line 61, default.scss */
.theme-default .header .tab ul li.active, .theme-default .header .tab ul li:hover {
  color: white;
  background-color: #5f5176;
}
/* line 71, default.scss */
.theme-default .sidebar .bar {
  background-color: #575F69;
}
/* line 73, default.scss */
.theme-default .sidebar .bar ul {
  background-color: #333C48;
}
/* line 76, default.scss */
.theme-default .sidebar .bar ul li.active {
  color: white;
  background-color: #38A1DB;
}
/* line 80, default.scss */
.theme-default .sidebar .bar ul li:hover {
  color: white;
  background-color: #20B9EF;
}
/* line 88, default.scss */
.theme-default .sidebar .tab-component {
  background-color: #2d2b30;
}
/* line 93, default.scss */
.theme-default .sidebar .component .search {
  background-color: #47434C;
}
/* line 95, default.scss */
.theme-default .sidebar .component .search .key {
  color: white;
}
/* line 100, default.scss */
.theme-default .sidebar .component .seperator {
  background-color: #535353;
}
/* line 104, default.scss */
.theme-default .sidebar .component .items {
  background-color: #47434C;
}
/* line 107, default.scss */
.theme-default .sidebar .component .items .list li .name {
  color: #dfdfdf;
}
/* line 116, default.scss */
.theme-default .sidebar .project .operation li {
  background-color: #3E4959;
}
/* line 118, default.scss */
.theme-default .sidebar .project .operation li:hover {
  color: white;
  background-color: #38A1DB;
}
/* line 123, default.scss */
.theme-default .sidebar .project .operation li.cancel {
  background-color: #3E4959;
}
/* line 127, default.scss */
.theme-default .sidebar .project .operation li.confirm {
  background-color: #38A1DB;
  color: white;
}
/* line 138, default.scss */
.theme-default .hardware .tools ul li {
  background-color: #b9b9b6;
  color: #9b9b9b;
}
/* line 141, default.scss */
.theme-default .hardware .tools ul li.active {
  background-color: #76797f;
  color: #dfdfdf;
}
/* line 146, default.scss */
.theme-default .hardware .tools ul li:hover {
  color: #dfdfdf;
  background-color: #2d2b30;
}
/* line 153, default.scss */
.theme-default .hardware .center {
  background-color: #f4f6fa;
}
/* line 159, default.scss */
.theme-default .software .north {
  background-color: #47434C;
}
/* line 163, default.scss */
.theme-default .software .menu .btn {
  color: #dfdfdf;
  background-color: #47434C;
}
/* line 166, default.scss */
.theme-default .software .menu .btn:hover {
  background-color: #5f5176;
}
/* line 171, default.scss */
.theme-default .software .menu .open .btn {
  background-color: #5f5176;
}
/* line 175, default.scss */
.theme-default .software .menu .dropdown-menu {
  background-color: #504C56;
}
/* line 178, default.scss */
.theme-default .software .menu .dropdown-menu > li > a {
  color: #dfdfdf;
}
/* line 181, default.scss */
.theme-default .software .menu .dropdown-menu > li:hover {
  background-color: #5f5176;
}
/* line 183, default.scss */
.theme-default .software .menu .dropdown-menu > li:hover > a {
  color: white;
}
/* line 191, default.scss */
.theme-default .software .menu .dropdown-submenu > a:after {
  border-left-color: #9b9b9b;
}
/* line 195, default.scss */
.theme-default .software .menu .dropdown-submenu:hover > a:after {
  border-left-color: #9b9b9b;
}
/* line 204, default.scss */
.theme-default .software .sub-tab ul li.active {
  background-color: #5f5176;
}
/* line 208, default.scss */
.theme-default .software .sub-tab ul li:hover {
  background-color: #5f5176;
}
/* line 216, default.scss */
.theme-default .x-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5E5B62;
}
/* line 221, default.scss */
.theme-default .x-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #5E5B62;
}
/* line 226, default.scss */
.theme-default .x-scrollbar::-webkit-scrollbar-thumb {
  background-color: #737078;
}
