* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: outside none none;
}

input {
  outline: none;
}

a, a:hover{
  text-decoration: none;
  color: white;
  outline: none;
}

a:focus {
  outline: none;
}