.unselectable {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: default;
}

.selectable {
  -moz-user-select: text;
  -o-user-select:text;
  -khtml-user-select:text;
  -webkit-user-select:text;
  -ms-user-select:text;
  user-select:text;
  cursor: auto;
}

.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(123, 133, 145, 0.6);
}

.strong {
  font-weight: bold;
}