
@font-face {font-family: "kenrobot";
  src: url('../fonts/kenrobot.eot'); /* IE9*/
  src: url('../fonts/kenrobot.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/kenrobot.woff') format('woff'), /* chrome, firefox */
  url('../fonts/kenrobot.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/kenrobot.svg') format('svg'); /* iOS 4.1- */
}

.kenrobot {
  font-family:"kenrobot" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ken-switch-on2:before { content: "\e626"; }
.ken-switch-off2:before { content: "\e627"; }
.ken-project2:before { content: "\e61a"; }
.ken-add:before { content: "\e600"; }
.ken-close:before { content: "\e601"; }
.ken-icon-code:before { content: "\e602"; }
.ken-component:before { content: "\e603"; }
.ken-delete:before { content: "\e604"; }
.ken-icon-hardware:before { content: "\e606"; }
.ken-info-error:before { content: "\e607"; }
.ken-info-info:before { content: "\e608"; }
.ken-info-info2:before { content: "\e609"; }
.ken-info-success:before { content: "\e60a"; }
.ken-info-warning:before { content: "\e60b"; }
.ken-library:before { content: "\e60c"; }
.ken-switch-off:before { content: "\e60d"; }
.ken-switch-on:before { content: "\e60e"; }
.ken-password:before { content: "\e60f"; }
.ken-project:before { content: "\e610"; }
.ken-setting:before { content: "\e611"; }
.ken-share:before { content: "\e612"; }
.ken-logout:before { content: "\e613"; }
.ken-triangle-down:before { content: "\e614"; }
.ken-triangle-left:before { content: "\e615"; }
.ken-triangle-right:before { content: "\e616"; }
.ken-triangle-up:before { content: "\e617"; }
.ken-user:before { content: "\e618"; }
.ken-move:before { content: "\e619"; }
.ken-clone:before { content: "\e61b"; }
.ken-board:before { content: "\e61c"; }
.ken-switch:before { content: "\e61d"; }
.ken-icon-folder:before { content: "\e61e"; }
.ken-save:before { content: "\e605"; }
.ken-terminal:before { content: "\e61f"; }
.ken-upload:before { content: "\e620"; }
.ken-build:before { content: "\e621"; }
.ken-download:before { content: "\e622"; }
.ken-format:before { content: "\e623"; }
.ken-logo:before { content: "\e624"; }
.ken-scratch:before { content: "\e625"; }