.mod.cjxm_mod{
  background-color:white;
}

.cjxm_mod .tbx_edit{
  width:740px
}

.cjxm_mod table{
  font-size: 14px;
  margin-top:50px;
  margin-left:36px;
}

.cjxm_mod table td{
  border:10px solid white;
}

.cjxm_mod table td .create{
  float:right
}

.cjxm_mod .project_list{
	background: #fff;
    box-shadow: 1px 1px 10px #E1E4F5;
    border-radius: 5px;
    width: 810px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 48px;
    overflow-y:scroll;
    height: 260px;
}

.cjxm_mod .project_list ul {
  margin: 0;
  padding: 0;
  float: left;
}
.cjxm_mod .project_list ul li {
  list-style: none;
  float: left;
  font-size: 15px;
  font-family:"微软雅黑";
  //font-weight: bolder;
  color: #8c8c8c;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 10px;
  //border-right: 1px solid #959697;
  cursor:pointer;
  //height: 65px;
  text-align: center;
  //line-height: 65px;
}

.cjxm_mod .project_list ul li img{
	box-shadow: 1px 1px 10px #ddd;
}

.cjxm_mod .project_list ul li span{
	display: block;
    margin-top: 10px;
}

.cjxm_mod .project_list ul li .operator{
	display: block;
    height: 20px;
    width: 115px;
}

.cjxm_mod .project_list ul li .btn{
	float: left;
	margin-left: 5px;
	display: none;
}

.cjxm_mod .project_list ul li:hover .btn{
	display: block;
}
  