@charset "utf-8";
* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: outside none none;
}

ul, li {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  color: white;
  outline: none;
}

a:focus {
  outline: none;
}

a:visited {
  text-decoration: none;
  outline: none;
}

textarea {
  resize: none;
}

body {
  font-family: 'Microsoft YaHei';
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.unselectable {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.selectable {
  -moz-user-select: text;
  -o-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: auto;
}

.no-scrollbar {
  overflow-y: auto;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar::-moz-scrollbar {
  display: none;
}
.no-scrollbar::-ms-scrollbar {
  display: none;
}
.no-scrollbar::-o-scrollbar {
  display: none;
}
.no-scrollbar::scrollbar {
  display: none;
}

.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(47, 50, 60, 0.88);
}

.strong {
  font-weight: bold;
}

.main {
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main .ken-editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  line-height: 20px;
}
