@charset "utf-8";

* {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
}

li {
  list-style: outside none none;
}

input {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Microsoft YaHei';
  /*font-size: 62.5%;*/
  color: #dfdfdf;
  width: 100%;
  height: 100%;
}

.unselectable {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor: default;
}

.selectable {
  moz-user-select: -moz-text;
  -moz-user-select: text;
  -o-user-select:text;
  -khtml-user-select:text;
  -webkit-user-select:text;
  -ms-user-select:text;
  user-select:text;
  cursor: auto;
}

.main {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    position: absolute;
}

.main .header {
  height: 60px;
  background-color: #3E3D44;
}

.header .left {
  width: 280px;
  height: 100%;
  float: left;
}

.header .logo {
  margin-left: 15px;
  height: 60px;
  width: 103px;
  line-height: 60px;
  background: url('../images/logo2.png') no-repeat center;
  background-size: 103px 50px;
  float: left;
}

.header .tab {
  float: left;
}

.header .menu {
  float: right;
  margin-right: 30px;
}

.header .menu .btn {
  height: 60px;
  width: 120px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #dfdfdf;
  letter-spacing: 5px;
  -webkit-box-shadow: none;
   box-shadow: none; 
}

.header .menu .open .btn {
  color: white;
  background-color: #5F5176;
}

.header .menu .btn:hover {
  background-color: #5F5176;
  color: white;
}

.header .menu .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #504C56;
  border: none;
  border-radius: 0;
  width: 120px;
  min-width: 120px;
}

.header .menu .dropdown-menu > li:hover {
  background-color: #8B7AA8;
}

.header .menu .dropdown-menu > li > a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  color: #dfdfdf;
  letter-spacing: 5px;
  background-color: transparent;
}

.header .menu .dropdown-menu > li:hover > a {
  color: white;
}

.header .menu .dropdown-submenu {
    position: relative;
}

.header .menu .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: -100%;
}

.header .menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.header .menu .board-list.dropdown-menu {
  width: 270px;
  min-width: 270px;
  left: -270px;
}

.header .menu .board-list.dropdown-menu > li > a {
  letter-spacing: 0;
  width: 270px;
  height: 70px;
  line-height: 70px;
}

.header .menu .board-list .thumbnail {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  margin: 5px 10px;
  float: left;
  padding: 0;
}

.header .menu .board-list .name {
  line-height: 70px;
  text-align: left;
  float: left;
}

.header .menu .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: white;
    top: 15px;
    left: 8px;
    position: absolute;
}

.header .menu .dropdown-submenu:hover > a:after {
  border-right-color: #9B9B9B;
}

.header .tab ul {
  float: left;
}

.header .tab ul li{
  width: 120px;
  color: #9B9B9B;
  line-height: 60px;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  float: left;
}

.header .tab ul li.active {
  color: white;
  background-color: #5f5176;
}

.header .tab ul li:hover {
  color: white;
  background-color: #5f5176;
}

.main .content {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.content .mod {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.content .mod.active {
  visibility: visible;
}

.content .hardware .left {
  width: 280px;
  height: 100%;
  background-color: #2D2B30;
  overflow-y: auto;
}

.content .hardware .right {
  background-color: #55545F;
  top: 0;
  bottom: 0;
  left: 280px;
  right: 0;
  position: absolute;
}

.content .software .left {
  width: 400px;
  height: 100%;
  background-color: #2D2B30;
  overflow-y: auto;
}

.content .software .right {
  background-color: #55545F;
  top: 0;
  bottom: 0;
  left: 400px;
  right: 0;
  position: absolute;
  float: left;
}

.content .tab {
  width: 32px;
  float: left;
}

.content .hardware .tab-panel {
  width: 234px;
  left: 32px;
  right: 14px;
  top: 0;
  bottom: 0;
  position: absolute;
  float: left;
}

.content .software .tab-panel {
  width: 354px;
  left: 32px;
  right: 14px;
  top: 0;
  bottom: 0;
  position: absolute;
  float: left;
}

.content .tab ul {
  float: left;
}

.content .tab ul li {
  width: 24px;
  justify-content:center;
  align-items:center;
  display:-webkit-flex;
  display: flex;
  cursor: pointer;
}

.content .hardware .tab ul {
  margin-top: 8px;
}

.content .hardware .tab ul li {
  height: 124px;
  margin: 16px 0;
}

.content .software .tab ul {
  margin-top: 8px;
}

.content .software .tab ul li {
  height: 100px;
  margin: 16px 0;
}

.content .tab ul li.active {
  width: 32px;
}

.content .tab ul li a {
  width: 14px;
  color: #dfdfdf;
  display: block;
}

.content .tab ul li:hover a,
.content .tab ul li.active a {
  color: white;
}

.hardware .tag-1 {
  background-color: #68D283;
}

.hardware .tag-2 {
  background-color: #40AFE5;
}

.hardware .tag-3 {
  background-color: #E8A34E;
}

.hardware .tag-4 {
  background-color: #E9615F;
}

.hardware .tag-5 {
  background-color: #E2559C;
}

.software .tag-1 {
  background-color: #68D283;
}

.software .tag-2 {
  background-color: #40AFE5;
}

.software .tag-3 {
  background-color: #E8A34E;
}

.software .tag-4 {
  background-color: #E9615F;
}

.software .tag-5 {
  background-color: #E2559C;
}

.software .tag-6 {
  background-color: #8D32E4;
}

.hardware .search {
  margin: 24px 0 14px 14px;
  height: 36px;
  border-radius: 40px;
  background-color: #47434C;
  float: left;
}

.hardware .search input[name=key]{
  height: 100%;
  margin: 0 18px;
  width: 184px;
  color: white;
  letter-spacing: 2px;
  background-color: transparent;
}

.hardware .seperator {
  width: 220px;
  height: 2px;
  background-color: #535353;
  margin-left: 14px;
  float: left;
}

.hardware .items {
  left: 14px;
  right: 0;
  top: 90px;
  bottom: 24px;
  background-color: #47434C;
  position: absolute;
  float: left;
  overflow-y: auto;
}

.hardware .items ul {
  margin-right: 14px;
  margin-top: 12px;
  float: left;
}

.hardware .items ul li {
  width: 85px;
  height: 110px;
  margin-left: 14px;
  margin-bottom: 12px;
  float: left;
  text-align: center;
}

.hardware .items .item .image {
  width: 85px;
  height: 85px;
  background-color: white;
}

.hardware .items .item .name {
  letter-spacing: 5px;
}

.hardware .north {
  margin-left: 30px;
  margin-right: 30px;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.hardware .north span {
  width: 36px;
  height: 20px;
  margin: 10px 20px;
  background-color: #9B9B9B;
  text-align: center;
  /*float: left;*/
  display: block;
}

.hardware .north ul li {
  width: 36px;
  height: 20px;
  margin: 10px 20px;
  background-color: #9B9B9B;
  text-align: center;
  float: left;
}

.hardware .center {
  top: 75px;
  bottom: 75px;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  background-color: #2D2B30;
}

.hardware .south {
  margin-left: 30px;
  margin-right: 30px;
  height: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.hardware .south ul li {
  width: 36px;
  height: 20px;
  margin-left: 45px;
  background-color: #9B9B9B;
  text-align: center;
  float: left;
}

.hardware .south ul li:first-child {
  margin-left: 0;
}

.hardware .copyright {
  float: right;
  text-align: right;
  font-size: 12px;
  color: #71707A;
}

.software .items {
  left: 14px;
  right: 0;
  top: 24px;
  bottom: 24px;
  background-color: #47434C;
  position: absolute;
  float: left;
  overflow-y: auto;
}

.software .items ul {
  margin-top: 20px;
  margin-left: 15px;
  float: left;
}

.software .items ul li {
  margin-bottom: 15px;
  vertical-align: middle;
}

.software .items .item1 {
  height: 40px;
  width: 250px;
  background-color: #68D283;
}

.software .items .item2 {
  height: 40px;
  width: 250px;
  background-color: #40AFE5;
}

.software .items .item3 {
  height: 40px;
  width: 250px;
  background-color: #E8A34E;
}

.software .north {
  height: 40px;
  background-color: #555555;
}

.software .center {
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.software .menu .btn {
  height: 40px;
  width: 120px;
  background-color: #555555;
  border-radius: 0;
  border: none;
  color: #dfdfdf;
  letter-spacing: 5px;
  -webkit-box-shadow: none;
   box-shadow: none; 
}

.software .menu .open .btn {
  color: white;
  background-color: #242424;
}

.software .menu .btn:hover {
  background-color: #242424;
  color: white;
}

.software .menu .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #3C3C3C;
  border: none;
  border-radius: 0;
  width: 120px;
  min-width: 120px;
}

.software .menu .dropdown-menu > li:hover {
  background-color: #242424;
}

.software .menu .dropdown-menu > li > a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  color: #dfdfdf;
  letter-spacing: 5px;
  background-color: transparent;
}

.software .menu .dropdown-menu > li:hover > a {
  color: white;
}

.software .menu .dropdown-submenu {
    position: relative;
}

.software .menu .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
}

.software .menu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.software .menu .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: white;
    top: 15px;
    right: 8px;
    position: absolute;
}

.software .menu .dropdown-submenu:hover > a:after {
  border-left-color: #9B9B9B;
}

.software .sub-tab {
  float: right;
}

.software .sub-tab ul {
  float: left;
}

.software .sub-tab ul li{
  width: 120px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  float: left;
}

.software .sub-tab ul li.active {
  background-color: #303030;
}

.software .sub-tab ul li:hover {
  background-color: #303030;
}

.software .sub-mod {
  height: 100%;
  display: none;
}

.software .sub-mod.active {
  display: block;
}

.software .editor {
  font-size: 16px;
  height: 100%;
}

.x-message {
    background-color: #373B44;
    width: 400px;
    border-radius:5px;
    margin: 0 auto;
    padding: 8px;
    z-index: 99999;
    position: absolute;
}

.x-message .message-icon {
    width: 20px;
    display: inline-block;
}

.x-message .message-content {
    color: #fff;
    height: 20px;
    display: inline-block;
}

.x-message .message-close {
    cursor: pointer;
    width: 10px;
    height: 20px;
    background: url(../images/closeBtn.png) no-repeat center;
    background-size: 10px 10px;
    display: inline-block;
    float: right;
}

.x-scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #5E5B62;
}

.x-scrollbar::-webkit-scrollbar
{
  width: 6px;
  background-color: #5E5B62;
}

.x-scrollbar::-webkit-scrollbar-thumb
{
  background-color: #737078;
}



#login_dialog {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 280px;
    height: 290px;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    z-index: 101;
}

#login_dialog .active {
    display: block;
}

.ui-dialog-titlebar { display : none;}

.closeBtn {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}

#login_dialog .closeBtn {
    background: url('../images/closeBtn.png') no-repeat center;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 200;
}

.qrLogin {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 273px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    display: none;
}

.baseLogin {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.498039);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: "Microsoft YaHei", "Helvetica Neue";
    height: 273px;
    line-height: 18px;
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
    display: none;
}

.baseLoginBtn {
    display: none;
    outline-style:none;
    border: 0;
    background-image: url(../images/loginBtns.png);
    background-position: -201px -199px;
    background-repeat: no-repeat;
    color: rgb(0, 136, 204);
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 60px;
    line-height: 18px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: background-position;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
    width: 60px;
    z-index: 101;
}

.qrLoginBtn {
    display: none;
    border: 0;
    background-image: url(../images/loginBtns.png);
    background-position: -260px -260px;
    background-repeat: no-repeat;
    color: rgb(0, 136, 204);
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 18px;
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: background-position;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
    width: 60px;
    z-index: 101;
}

.qrLogin .tips {
    font-family: "Microsoft YaHei", "Helvetica Neue";
    font-size: 14px;
    font-weight: lighter;
    color: #eee;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0;
}

.qrLogin .qrcode {
    padding-top: 10px;
    width:200px;
    height:200px;
    display:block;
    margin:0 auto;
}

#use_weixin {
    display: none;
}

#use_weixin img {
    height: 512px;
    width: 350px;
}

#use_weixin.active {
    position: absolute;
    height: auto;
    width: 300px;
    top: 25%;
    left: 75%;
    display: block;
    z-index:105;
}

.baseLogin .tips {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 28px;
    line-height: 28px;
    margin: 26px auto 10px auto;
    text-align: center;
}

.baseLogin .message {
    color: #f00;
    font-size: 14px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.baseLogin .field {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 18px;
    padding-bottom: 10px;
    padding-left: 37px;
    position: relative;
    width: 220px;
}

.baseLogin .field:first-child {
    margin-top: 20px;
}

.baseLogin .field label {
    border-bottom-color: rgb(167, 167, 167);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(167, 167, 167);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-color: rgb(167, 167, 167);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(0, 0, 0);
    display: block;
    float: left;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 38px;
    line-height: 18px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    width: 39px;
    zoom: 1;
}

.baseLogin .field .email {
    background: url('../images/email.png') no-repeat center;
}

.baseLogin .field .password {
    background: url('../images/password.png') no-repeat center;
}


.baseLogin .field input {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    color: rgb(89, 89, 89);
    cursor: auto;
    display: block;
    float: left;
    font-size: 12px;
    height: 20px;
    letter-spacing: normal;
    line-height: 20px;
    padding-bottom: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    position: relative;
    width: 159px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    outline: none;
}

.baseLogin .remember {
    margin-bottom: 20px;
}

.baseLogin .remember input {
    width: 15px;
    height: 15px;
    margin-left: 40px;
    line-height: 20px;
    vertical-align: middle;
}

.baseLogin .remember label {
    margin-left: 27px;
    font-size: 12px;
    color: #8d9092;
    vertical-align: middle;
    line-height: 20px;
}

.baseLogin .submitBtn {
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(0, 170, 238);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 40px;
    width: 219px;
    line-height: 36px;
    outline-style: none;
    margin: 0 auto;
    font-family: "Microsoft YaHei", "Helvetica Neue";
}