/* line 1, base/_reset.scss */
* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 11, base/_reset.scss */
li {
  list-style: outside none none;
}

/* line 15, base/_reset.scss */
input {
  outline: none;
}

/* line 19, base/_reset.scss */
a, a:hover {
  text-decoration: none;
  color: white;
  outline: none;
}

/* line 25, base/_reset.scss */
a:focus {
  outline: none;
}

/* line 29, base/_reset.scss */
body {
  font-family: 'Microsoft YaHei';
  width: 100%;
  height: 100%;
}

/* line 1, helper/_helper.scss */
.unselectable {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

/* line 11, helper/_helper.scss */
.selectable {
  -moz-user-select: text;
  -o-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: auto;
}

/* line 3, layout/_layout.scss */
.main {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
/* line 10, layout/_layout.scss */
.main .header {
  height: 60px;
}
/* line 14, layout/_layout.scss */
.main .content {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
/* line 21, layout/_layout.scss */
.main .content .mod {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  visibility: hidden;
}
/* line 29, layout/_layout.scss */
.main .content .mod.active {
  visibility: visible;
}

/* line 1, layout/_header.scss */
.header .left {
  width: 248px;
  height: 100%;
  float: left;
}

/* line 7, layout/_header.scss */
.header .logo {
  margin-left: 15px;
  height: 60px;
  width: 103px;
  line-height: 60px;
  float: left;
}

/* line 15, layout/_header.scss */
.header .tab {
  float: left;
}

/* line 19, layout/_header.scss */
.header .menu {
  float: right;
  margin-right: 30px;
}

/* line 24, layout/_header.scss */
.header .menu .btn {
  height: 60px;
  width: 120px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  letter-spacing: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 35, layout/_header.scss */
.header .menu .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-radius: 0;
  width: 120px;
  min-width: 120px;
}

/* line 45, layout/_header.scss */
.header .menu .dropdown-menu > li > a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  letter-spacing: 5px;
  background-color: transparent;
}

/* line 54, layout/_header.scss */
.header .menu .dropdown-menu > li:hover > a {
  color: white;
}

/* line 58, layout/_header.scss */
.header .menu .dropdown-submenu {
  position: relative;
}

/* line 62, layout/_header.scss */
.header .menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: -100%;
}

/* line 67, layout/_header.scss */
.header .menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 71, layout/_header.scss */
.header .menu .board-list.dropdown-menu {
  width: 270px;
  min-width: 270px;
  left: -270px;
}

/* line 77, layout/_header.scss */
.header .menu .board-list.dropdown-menu > li > a {
  letter-spacing: 0;
  width: 270px;
  height: 70px;
  line-height: 70px;
}

/* line 84, layout/_header.scss */
.header .menu .board-list .thumbnail {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border: none;
  margin: 5px 10px;
  float: left;
  padding: 0;
}

/* line 94, layout/_header.scss */
.header .menu .board-list .name {
  line-height: 70px;
  text-align: left;
  float: left;
}

/* line 100, layout/_header.scss */
.header .menu .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  top: 15px;
  left: 8px;
  position: absolute;
}

/* line 114, layout/_header.scss */
.header .tab ul {
  float: left;
}

/* line 118, layout/_header.scss */
.header .tab ul li {
  width: 120px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  float: left;
}

/* line 1, layout/_hardware.scss */
.hardware .left {
  width: 248px;
  height: 100%;
  overflow-y: auto;
}

/* line 7, layout/_hardware.scss */
.hardware .right {
  top: 0;
  bottom: 0;
  left: 248px;
  right: 0;
  position: absolute;
}

/* line 15, layout/_hardware.scss */
.hardware .tab-panel {
  width: 220px;
  left: 14px;
  right: 14px;
  top: 0;
  bottom: 0;
  position: absolute;
  float: left;
}

/* line 25, layout/_hardware.scss */
.hardware .search {
  margin: 24px 0 14px 0;
  height: 36px;
  border-radius: 40px;
  float: left;
}

/* line 32, layout/_hardware.scss */
.hardware .search .key {
  height: 100%;
  margin: 0 18px;
  width: 184px;
  background-color: transparent;
}

/* line 39, layout/_hardware.scss */
.hardware .seperator {
  width: 220px;
  height: 2px;
  float: left;
}

/* line 45, layout/_hardware.scss */
.hardware .items {
  left: 0;
  right: 0;
  top: 90px;
  bottom: 24px;
  position: absolute;
  float: left;
  overflow-y: auto;
}

/* line 55, layout/_hardware.scss */
.hardware .items .list {
  margin-right: 14px;
  margin-top: 12px;
  float: left;
}

/* line 61, layout/_hardware.scss */
.hardware .items .list li {
  width: 85px;
  height: 110px;
  margin-left: 14px;
  margin-bottom: 12px;
  float: left;
  text-align: center;
}

/* line 70, layout/_hardware.scss */
.hardware .items .item .image {
  width: 85px;
  height: 85px;
  background-color: white;
}

/* line 76, layout/_hardware.scss */
.hardware .items .list li.active .image {
  background-color: orange;
}

/* line 80, layout/_hardware.scss */
.hardware .north {
  margin-left: 30px;
  margin-right: 30px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
/* line 89, layout/_hardware.scss */
.hardware .north .tools {
  margin-top: 10px;
}
/* line 92, layout/_hardware.scss */
.hardware .north .tools > li {
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  float: left;
}
/* line 100, layout/_hardware.scss */
.hardware .north .tools > li:last-child {
  margin-right: 0;
}
/* line 104, layout/_hardware.scss */
.hardware .north .tools .interactive-mode {
  width: 30px;
  height: 30px;
  font-size: 20px;
}

/* line 112, layout/_hardware.scss */
.hardware .center {
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
}

/* line 122, layout/_hardware.scss */
.hardware .south {
  margin-left: 30px;
  margin-right: 30px;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* line 132, layout/_hardware.scss */
.hardware .copyright {
  margin: 15px auto 0 auto;
  text-align: center;
  font-size: 12px;
  position: relative;
}

/* line 139, layout/_hardware.scss */
.hardware .name-dialog {
  z-index: 998;
  top: 90px;
  width: 250px;
  margin: 0 auto;
  position: relative;
}
/* line 145, layout/_hardware.scss */
.hardware .name-dialog .name-label {
  display: block;
  background-color: #F1C933;
  float: left;
  color: black;
  width: 50px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 158, layout/_hardware.scss */
.hardware .name-dialog .name {
  border: 2px solid #F1C933;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: left;
  color: black;
  width: 200px;
  height: 36px;
  padding: 10px 8px;
}

/* line 1, layout/_software.scss */
.software .right {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  float: left;
}

/* line 10, layout/_software.scss */
.software .north {
  height: 40px;
}

/* line 14, layout/_software.scss */
.software .center {
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* line 22, layout/_software.scss */
.software .menu .btn {
  height: 40px;
  width: 120px;
  border-radius: 0;
  border: none;
  letter-spacing: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 32, layout/_software.scss */
.software .menu .dropdown-menu {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-radius: 0;
  width: 120px;
  min-width: 120px;
}

/* line 43, layout/_software.scss */
.software .menu .dropdown-menu > li > a {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  letter-spacing: 5px;
  background-color: transparent;
}

/* line 52, layout/_software.scss */
.software .menu .dropdown-submenu {
  position: relative;
}

/* line 56, layout/_software.scss */
.software .menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
}

/* line 61, layout/_software.scss */
.software .menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* line 65, layout/_software.scss */
.software .menu .include-library.dropdown-menu > li > a {
  letter-spacing: 0;
}

/* line 69, layout/_software.scss */
.software .menu .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: white;
  top: 15px;
  right: 8px;
  position: absolute;
}

/* line 84, layout/_software.scss */
.software .menu .dropdown-submenu:hover > a:after {
  border-left-color: #9B9B9B;
}

/* line 88, layout/_software.scss */
.software .sub-tab {
  margin-right: 30px;
  float: right;
}

/* line 93, layout/_software.scss */
.software .sub-tab ul {
  float: left;
}

/* line 97, layout/_software.scss */
.software .sub-tab ul li {
  width: 120px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  float: left;
}

/* line 105, layout/_software.scss */
.software .sub-mod {
  height: 100%;
  display: none;
}

/* line 110, layout/_software.scss */
.software .sub-mod.active {
  display: block;
}

/* line 114, layout/_software.scss */
.software .editor {
  font-size: 16px;
  height: 100%;
}

/* line 119, layout/_software.scss */
.software .doEdit {
  cursor: pointer;
  z-index: 998;
  right: 24px;
  top: 12px;
  position: absolute;
}
/* line 126, layout/_software.scss */
.software .doEdit ul {
  float: left;
}
/* line 128, layout/_software.scss */
.software .doEdit ul > li {
  float: left;
  display: none;
}
/* line 132, layout/_software.scss */
.software .doEdit ul > li.active {
  display: block;
}
/* line 136, layout/_software.scss */
.software .doEdit ul > li > i {
  margin-right: 5px;
}

/* line 1, component/_x-message.scss */
.x-message {
  background-color: #373B44;
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 8px;
  z-index: 99999;
  position: absolute;
}
/* line 10, component/_x-message.scss */
.x-message .message-icon {
  width: 20px;
  display: inline-block;
}
/* line 15, component/_x-message.scss */
.x-message .message-content {
  color: #fff;
  height: 20px;
  display: inline-block;
}
/* line 21, component/_x-message.scss */
.x-message .message-close {
  cursor: pointer;
  width: 10px;
  height: 20px;
  background: url(../images/closeBtn.png) no-repeat center;
  background-size: 10px 10px;
  display: inline-block;
  float: right;
}

/* line 1, component/_x-scrollbar.scss */
.x-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5E5B62;
}

/* line 7, component/_x-scrollbar.scss */
.x-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #5E5B62;
}

/* line 13, component/_x-scrollbar.scss */
.x-scrollbar::-webkit-scrollbar-thumb {
  background-color: #737078;
}

/* line 1, component/_login.scss */
#login_dialog {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 280px;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
  z-index: 101;
}

/* line 12, component/_login.scss */
#login_dialog .active {
  display: block;
}

/* line 16, component/_login.scss */
.closeBtn {
  cursor: pointer;
  display: block;
  height: 16px;
  width: 16px;
}

/* line 23, component/_login.scss */
#login_dialog .closeBtn {
  background: url("../images/closeBtn.png") no-repeat center;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 200;
}

/* line 31, component/_login.scss */
.qrLogin {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  color: black;
  display: block;
  font-size: 12px;
  height: 280px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  display: none;
}

/* line 45, component/_login.scss */
.baseLogin {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
  color: black;
  display: block;
  font-size: 12px;
  font-family: "Microsoft YaHei", "Helvetica Neue";
  height: 280px;
  line-height: 18px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  display: none;
}

/* line 60, component/_login.scss */
.baseLoginBtn {
  display: none;
  outline-style: none;
  border: 0;
  background-image: url(../images/loginBtns.png);
  background-position: -201px -199px;
  background-repeat: no-repeat;
  color: #0088cc;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 60px;
  line-height: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: background-position;
  transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
  width: 60px;
  z-index: 101;
}

/* line 84, component/_login.scss */
.qrLoginBtn {
  display: none;
  border: 0;
  background-image: url(../images/loginBtns.png);
  background-position: -260px -260px;
  background-repeat: no-repeat;
  color: #0088cc;
  cursor: pointer;
  display: block;
  height: 60px;
  line-height: 18px;
  position: absolute;
  right: 0px;
  text-decoration: none;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: background-position;
  transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 0.9);
  width: 60px;
  z-index: 101;
}

/* line 107, component/_login.scss */
.qrLogin .tips {
  font-family: "Microsoft YaHei", "Helvetica Neue";
  font-size: 14px;
  font-weight: lighter;
  color: #eee;
  margin: 0 auto;
  text-align: center;
  padding: 6px 0;
}

/* line 117, component/_login.scss */
.qrLogin .qrcode {
  padding-top: 10px;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* line 125, component/_login.scss */
#use_weixin {
  display: none;
}

/* line 129, component/_login.scss */
#use_weixin img {
  height: 512px;
  width: 350px;
}

/* line 134, component/_login.scss */
#use_weixin.active {
  position: absolute;
  height: auto;
  width: 300px;
  top: 25%;
  left: 75%;
  display: block;
  z-index: 105;
}

/* line 144, component/_login.scss */
.baseLogin .tips {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  margin: 26px auto 10px auto;
  text-align: center;
}

/* line 155, component/_login.scss */
.baseLogin .message {
  color: #f00;
  font-size: 14px;
  height: 20px;
  margin-bottom: 15px;
  text-align: center;
}

/* line 163, component/_login.scss */
.baseLogin .field {
  color: black;
  display: block;
  font-size: 12px;
  height: 40px;
  line-height: 18px;
  padding-bottom: 10px;
  padding-left: 37px;
  position: relative;
  width: 220px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 177, component/_login.scss */
.baseLogin .field:first-child {
  margin-top: 20px;
}

/* line 181, component/_login.scss */
.baseLogin .field label {
  border-bottom-color: #a7a7a7;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #a7a7a7;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-color: #a7a7a7;
  border-top-style: solid;
  border-top-width: 1px;
  color: black;
  display: block;
  float: left;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 38px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  width: 39px;
  zoom: 1;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 209, component/_login.scss */
.baseLogin .field .email {
  background: url("../images/email.png") no-repeat center;
}

/* line 213, component/_login.scss */
.baseLogin .field .password {
  background: url("../images/password.png") no-repeat center;
}

/* line 218, component/_login.scss */
.baseLogin .field input {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  background-color: white;
  border-bottom-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: white;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  color: #595959;
  cursor: auto;
  display: block;
  float: left;
  font-size: 12px;
  height: 20px;
  letter-spacing: normal;
  line-height: 20px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  position: relative;
  width: 159px;
  word-spacing: 0px;
  -webkit-writing-mode: horizontal-tb;
  outline: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 266, component/_login.scss */
.baseLogin .remember {
  margin-bottom: 20px;
}

/* line 270, component/_login.scss */
.baseLogin .remember input {
  width: 15px;
  height: 15px;
  margin-left: 40px;
  line-height: 20px;
  vertical-align: middle;
}

/* line 278, component/_login.scss */
.baseLogin .remember label {
  margin-left: 27px;
  font-size: 12px;
  color: #8d9092;
  vertical-align: middle;
  line-height: 20px;
}

/* line 286, component/_login.scss */
.baseLogin .submitBtn {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #00aaee;
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: white;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: white;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 40px;
  width: 219px;
  line-height: 36px;
  outline-style: none;
  margin: 0 auto;
  font-family: "Microsoft YaHei", "Helvetica Neue";
}
