.main {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	.main-wrap {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

		.main-header {
			height: 40px;
			position: relative;
			background-color: #1e2129;
		}

		.main-content {
			top: 40px;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}

	.bottom-container {
		height: 150px;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
		z-index: 300;
		position: absolute;
		background-color: #393d43;

		&.active {
			visibility: visible;
		}
	}
}

.main-header {
	.logo {
		cursor: pointer;
		height: 66px;
		width: 66px;
		position: absolute;
		background: #1d222d url('/assets/images/logo-single.png') no-repeat center;
		background-size: 45px 45px;
	}

	.top-menu {
		height: 40px;
		margin-left: 112px;
	}

	.user-info {
		height: 40px;
		right: 0;
		top: 0;
		position: absolute;
		background-color: #1e2129;
	}
}

.main-content {
	.sidebar {
		height: 100%;
		padding-top: 26px;
		float: left;
	}

	& > .wrap {
		top: 0;
		bottom: 0;
		left: 66px;
		right: 0;
		position: absolute;
		background-color: #262a34;

		.top-tabs {
			height: 26px;
			border-top: 1px solid #343e4c;
			background-color: #1e2129;
		}

		.main-tabs {
			top: 26px;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}
}

.top-menu {
	white-space: nowrap;

	li {
		font-size: 14px;
		line-height: 40px;
		height: 40px;
		width: 80px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		color: white;

		&.disabled {
			color: #666;
		}

		&:hover {
			color: #24c1ff;
		}
	}
}

.main-tabs {
	.tab {
		height: 100%;
		position: relative;
		display: none;

		&.active {
			display: block;
		}

		& > div {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}
}

.top-tabs {
	li {
		font-size: 12px;
		line-height: 26px;
		height: 26px;
		width: 150px;
		float: left;
		position: relative;
		z-index: 10;
		cursor: pointer;
		margin-left: 1px;
		color: #a8a8a8;
		background-color: #55575e;

		&:first-child {
			margin-left: 0;
		}

		&.active {
			color: white;
			background-color: #637c95;
		}

		.name {
			margin-left: 10px;
		}

		.close-btn {
			font-size: 12px;
			line-height: 28px;
			margin-right: 5px;
			float: right;

			&:hover {
				color: #FF9696;
			}
		}
	}
}

.user-info {
	display: none;

	&.active {
		display: block;
	}

	.wrap {
		position: relative;
		float: right;

		.photo {
			float: left;
			line-height: 40px;
			height: 40px;
			margin-left: 8px;

			& > img {
				width: 28px;
				height: 28px;
				border-radius: 50%;
			}
		}

		.welcome {
			float: left;
			font-size: 12px;
			line-height: 40px;
			height: 40px;
			margin-left: 8px;
			margin-right: 8px;
			color: white;

			.arrow {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}

	.user-menu {
		display: none;
		z-index: 100;
		position: relative;

		&.active {
			display: block;
		}

		& > ul {
			float: left;
			width: 160px;
			background-color: #4b5765;

			& > li {
				cursor: pointer;
				float: left;
				width: 160px;
				height: 36px;
				line-height: 36px;
				padding-left: 36px;
				color: white;

				& > i {
					margin-right: 24px;
				}

				&:hover {
					background-color: #488ac0;
				}
			}
		}
	}
}

.sidebar {
	.bar {
		width: 66px;
		height: 100%;
		float: left;
	}

	.tab {
		z-index: 10;
		top: 26px;
		bottom: 0;
		left: 66px;
		position: absolute;
		visibility: hidden;
		background-color: rgba(52, 58, 74, 0.92);

		&.active {
			visibility: visible;
		}

		& > div {
			height: 100%;
		}
	}
}

.copyright {
	width: 100%;
	bottom: 0;
	z-index: 600;
	display: none;
	position: absolute;

	.wrap {
		width: 560px;
		font-size: 12px;
		padding-top: 4px;
		padding-bottom: 4px;
		line-height: 20px;
		text-align: center;
		margin: 0 auto;
		position: relative;

		color: #676767;
		background-color: #d8edf7;

		.close-btn {
			cursor: pointer;
			position: absolute;
			right: 5px;

			&:hover {
				color: #FF9696;
			}
		}
	}

	&.active {
		display: block;
	}
}

.bottom-container {
	.drag-handle {
		position: absolute;
		height: 3px;
		top: 0;
		width: 100%;
		cursor: n-resize;

		&.active {
			background-color: #4CC1FC;
			opacity: 0.2;
		}
	}

	.close-btn {
		position: absolute;
		right: 5px;
		top: 0;
		font-size: 12px;
		cursor: pointer;
		color: white;

		&:hover {
			color: #FF9696;
		}
	}

	.logcat {
		height: 100%;
		background-color: transparent;

		.ace_gutter {
			background-color: transparent;
		}
	}
}

.dialog-layer {
	z-index: 500;
	display: none;

	&.active {
		display: block;
	}
	
	.dialog {
		display: none;
	}
}

.guide-layer {
	display: none;
	z-index: 4;
}