.main {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	.main-wrap {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

		.main-header {
			height: 66px;
			position: relative;
			background-color: #1e2129;
		}

		.main-content {
			top: 66px;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}

	.bottom-container {
		height: 200px;
		bottom: 0;
		left: 0;
		right: 0;
		visibility: hidden;
		z-index: 300;
		position: absolute;
		background-color: #393d43;

		&.active {
			visibility: visible;
		}
	}
}

.main-header {
	.logo {
		cursor: pointer;
		height: 66px;
		width: 66px;
		position: absolute;
		background: #1d222d url('/assets/image/logo.png') no-repeat center;
		background-size: 45px 45px;
	}

	& > .wrap {
		margin-left: 66px;
		height: 66px;
	}

	.top-menu {
		height: 40px;
	}

	.user {
		height: 40px;
		right: 0;
		top: 0;
		position: absolute;
		background-color: #1e2129;
	}

	.top-tabs {
		height: 26px;
		background-color: #1d1e20;
	}
}

.main-content {
	background-color: #262a34;
	
	.sidebar {
		height: 100%;
		float: left;
		width: 66px;
		position: relative;
	}

	& > .wrap {
		top: 0;
		bottom: 0;
		left: 66px;
		right: 24px;
		position: absolute;
		background-color: #262a34;

		.main-tabs {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}

		.switch-view {
			z-index: 99;
			right: 30px;
			top: 30px;
			cursor: pointer;
			opacity: 0.8;

			width: 96px;
			height: 36px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;

			color: white;
			background-color: #488ac0;

			& > i {
				margin-right: 4px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}

	.right-bar {
		height: 100%;
		float: right;
	}
}

.top-menu {
	white-space: nowrap;

	li {
		font-size: 14px;
		line-height: 40px;
		height: 40px;
		width: 84px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		letter-spacing: 1px;
		color: white;

		& > i {
			margin-right: 6px;
		}

		&.disabled {
			color: #666;
		}

		&:hover {
			background-color: #3A4256;
		}
	}
}

.main-tabs {
	.tab {
		height: 100%;
		position: relative;
		display: none;

		&.active {
			display: block;
		}

		& > div {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
		}
	}
}

.top-tabs {
	li {
		font-size: 12px;
		line-height: 26px;
		height: 26px;
		width: 150px;
		float: left;
		position: relative;
		z-index: 10;
		cursor: pointer;
		margin-left: 1px;
		color: #6e7679;
		background-color: #1d1e20;

		.name {
			margin-left: 10px;
			width: 124px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			display: inline-block;
		}

		.close-btn {
			visibility: hidden;
			font-size: 12px;
			line-height: 26px;
			position: absolute;
			top: 0;
			right: 5px;

			&:hover {
				color: #FF9696;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&.active {
			color: white;
			background-color: #262a34;
		}

		&:hover {
			color: white;
			background-color: #28282e;
			&.active {
				background-color: #363c4a;
			}

			.close-btn {
				visibility: visible;
			}
		}
	}
}

.user {
	&.active {
		.user-login {
			display: none;
		}

		.user-info {
			display: block;
		}
	}

	.user-login {
		padding-left: 20px;
		padding-right: 20px;
		height: 40px;
		
		ul {
			float: left;

			li {
				letter-spacing: 2px;
				float: left;
				cursor: pointer;
				line-height: 40px;
				margin-left: 8px;
				margin-right: 8px;
				color: white;

				&:hover {
					color: #24c1ff;

					& > a {
						color: #24c1ff;
					}
				}
			}
		} 
	}

	.user-info {
		display: none;
		position: relative;
		float: right;

		.photo {
			float: left;
			line-height: 40px;
			height: 40px;
			margin-left: 8px;

			& > img {
				width: 28px;
				height: 28px;
				border-radius: 50%;
			}
		}

		.welcome {
			float: left;
			font-size: 12px;
			line-height: 40px;
			height: 40px;
			margin-left: 8px;
			margin-right: 8px;
			color: white;

			.arrow {
				margin-left: 5px;
				font-size: 10px;
			}
		}
	}

	.user-menu {
		display: none;
		z-index: 100;
		position: relative;

		&.active {
			display: block;
		}

		& > ul {
			float: left;
			width: 160px;
			background-color: #4b5765;

			& > li {
				cursor: pointer;
				float: left;
				width: 160px;
				height: 36px;
				line-height: 36px;
				padding-left: 36px;
				color: white;

				& > i {
					margin-right: 24px;
				}

				&:hover {
					background-color: #488ac0;
				}
			}
		}
	}
}

@include keyframes('tab-slideIn') {
	from {
		opacity: 0;
		transform: scaleX(0);
	}
	to {
		opacity: 1;
		transform: scaleX(1);
	}
}

@include keyframes('tab-slideOut') {
	from {
		opacity: 1;
		transform: scaleX(1);
	}
	to {
		opacity: 0;
		transform: scaleX(0);
	}
}

.sidebar {
	.bar {
		width: 66px;
		height: 100%;
		position: absolute;
		z-index: 11;
	}

	.tab {
		z-index: 10;
		top: 0;
		bottom: 0;
		left: 66px;
		position: absolute;
		display: none;
		background-color: rgba(52, 58, 74, 0.92);

		&.active {
			display: block;
		}

		&.x-slideIn {
			@include animation('tab-slideIn' 0.15s cubic-bezier(0, 0.8, 0.1, 1) both);
		}

		&.x-slideOut {
			@include animation('tab-slideOut' 0.15s cubic-bezier(0.8, 0, 1, 0.1) forwards);
		}

		& > div {
			height: 100%;
		}
	}
}

.bottom-container {
	.drag-handle {
		position: absolute;
		height: 3px;
		top: 0;
		width: 100%;
		cursor: n-resize;
		z-index: 1;

		&.active {
			opacity: 0.2;
			background-color: #4CC1FC;
		}
	}

	& > .tab {
		height: 100%;
		position: relative;
		display: none;

		&.active {
			display: block;
		}
	}
}

.dialog-layer {
	z-index: 500;
	display: none;

	&.active {
		display: block;
	}
	
	.dialog {
		display: none;
	}
}

.guide-layer {
	display: none;
	z-index: 4;
}