@include keyframes('right-bar-expand') {
	from {
		width: 0;
	}
	to {
		width: 496px;
	}
}

@include keyframes('right-bar-fold') {
	from {
		width: 496px;
	}
	to {
		width: 0px;
	}
}

@include keyframes('right-bar-wrap-expand') {
	from {
		clip: rect(0 496px auto 496px);
	}
	to {
		clip: rect(0 496px auto 0);
	}
}

@include keyframes('right-bar-wrap-fold') {
	from {
		clip: rect(0 496px auto 0);
	}
	to {
		clip: rect(0 496px auto 496px);
	}
}

.right-bar {
	&.active {
		border-left: 2px solid #1d1e20;
	}

	.bar {
		width: 24px;
		height: 100%;
		float: right;
		background-color: #212227;

		& > ul {
			position: relative;

			& > li {
				width: 80px;
				height: 24px;
				margin-top: 56px;
				left: 24px;
				cursor: pointer;
				position: relative;
				text-align: center;
				transform: rotate(90deg);
				transform-origin: 0 0;
				color: white;

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					background-color: #488ac0;
				}

				&.active {
					background-color: #488ac0;
				}

				& > i {
					margin-right: 5px;
				}
			}
		}
	}

	& > .wrap {
		height: 100%;
		background-color: #262a34;
		float: left;
		position: relative;
		overflow-y: auto;

		& > .tab {
			position: absolute;
			left: 0;
			right: 0;

			display: none;

			&.active {
				display: block;
			}
		}

		&.x-expand {
			@include animation('right-bar-expand' 0.15s cubic-bezier(0, 0.8, 0.1, 1) both);

			& > .tab {
				@include animation('right-bar-wrap-expand' 0.15s cubic-bezier(0, 0.8, 0.1, 1) both);
			}
		}

		&.x-fold {
			@include animation('right-bar-fold' 0.15s cubic-bezier(0.8, 0, 1, 0.1) forwards);

			& > .tab {
				@include animation('right-bar-wrap-fold' 0.15s cubic-bezier(0.8, 0, 1, 0.1) forwards);
			}
		}

		&.active {
			width: 496px;

			& > .tab {
				clip: auto;
			}
		}
	}

	.tab-comment {
		& > .tab-wrap {
			padding: 18px;
			overflow-y: auto;
		}

		.line-reference {
			position: relative;

			.line-num {
				width: 54px;
				height: 24px;
				position: absolute;
				left: 0;
				text-align: right;
				letter-spacing: 1px;
				padding-right: 10px;
				color: white;
				background-color: #3a3d4b;
			}

			.line-content {
				height: 24px;
				margin-left: 54px;
				padding-left: 10px;
				color: white;
				background-color: #4d5161;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: pre;
			}
		}

		.publish-comment {
			.comment-content {
				width: 100%;
				height: 100px;
				padding: 6px 8px;
				color: #9ba6c2;
				border: 1px solid #484f5f;
				background-color: #262a34;
			}

			.publish-wrap {
				margin-top: 15px;
				margin-bottom: 20px;

				.line-wrap {
					height: 40px;
					margin-top: 15px;

					.use-line {
						line-height: 24px;
						border: 1px solid #5c6272;
					}

					.use-line-label {
						line-height: 24px;
						margin: 8px;
						font-weight: normal;
						color: #9ba6c2;
					}

					.line {
						width: 52px;
						height: 24px;
						display: none;
						letter-spacing: 1px;
						text-align: center;
						background-color: transparent;
						color: #95a0bb;
						border: 1px solid #5c6272;
					}

					.tips {
						line-height: 24px;
						margin: 8px;
						font-weight: normal;
						color: #4E9AC9;
						display: none;
					}

					.publish {
						height: 40px;
						width: 120px;
						float: right;
						color: white;
						background-color: #488ac0;
					}
				}

				& > .line-reference {
					display: none;
				}

				&.expand {
					& > .line-reference {
						display: block;
					}

					.line {
						display: inline-block;
					}

					.tips {
						display: inline-block;
					}
				}
			}
		}

		.comment-item {
			border-top: 1px solid #3a3f4a;
			padding-top: 20px;
			padding-bottom: 20px;
			color: #9ba6c2;

			.left {
				width: 40px;
				float: left;

				.photo {
					width: 40px;
					height: 40px;
					border-radius: 50%; 
				}
			}

			.right {
				margin-left: 60px;

				.comment-header {
					height: 17px;
					font-size: 12px;

					.name {
						float: left;
					}

					.floor {
						float: right;
					}
				}

				.line-reference {
					margin-top: 10px;
				}
				
				.comment-content {
					margin-top: 10px;
					
					font-size: 14px;
					line-height: 24px;
				}

				.comment-footer {
					margin-top: 20px;

					.publish-time {
						color: #585f71;
						font-size: 12px;
					}
				}
			}
		}
	}
}