@include keyframes('right-bar-expand') {
	from {
		width: 0;
	}
	to {
		width: 496px;
	}
}

@include keyframes('right-bar-fold') {
	from {
		width: 496px;
	}
	to {
		width: 0px;
	}
}

@include keyframes('right-bar-wrap-expand') {
	from {
		clip: rect(0 496px auto 496px);
	}
	to {
		clip: rect(0 496px auto 0);
	}
}

@include keyframes('right-bar-wrap-fold') {
	from {
		clip: rect(0 496px auto 0);
	}
	to {
		clip: rect(0 496px auto 496px);
	}
}

.right-bar {
	&.active {
		border-left: 2px solid #1d1e20;
	}

	.bar {
		width: 24px;
		height: 100%;
		float: right;
		background-color: #212227;

		& > ul {
			position: relative;

			& > li {
				width: 80px;
				height: 24px;
				margin-top: 56px;
				left: 24px;
				cursor: pointer;
				position: relative;
				text-align: center;
				transform: rotate(90deg);
				transform-origin: 0 0;
				color: white;

				&:first-child {
					margin-top: 0;
				}

				&:hover {
					background-color: #488ac0;
				}

				&.active {
					background-color: #488ac0;
				}

				& > i {
					margin-right: 5px;
				}
			}
		}
	}

	& > .wrap {
		height: 100%;
		background-color: #262a34;
		float: left;
		position: relative;
		overflow-y: auto;

		& > .tab {
			position: absolute;
			left: 0;
			right: 0;

			// display: none;

			// &.active {
			// 	display: block;
			// }
		}

		&.x-expand {
			@include animation('right-bar-expand' 0.15s cubic-bezier(0, 0.8, 0.1, 1) both);

			& > .tab {
				@include animation('right-bar-wrap-expand' 0.15s cubic-bezier(0, 0.8, 0.1, 1) both);
			}
		}

		&.x-fold {
			@include animation('right-bar-fold' 0.15s cubic-bezier(0.8, 0, 1, 0.1) forwards);

			& > .tab {
				@include animation('right-bar-wrap-fold' 0.15s cubic-bezier(0.8, 0, 1, 0.1) forwards);
			}
		}

		&.active {
			width: 496px;

			& > .tab {
				clip: auto;
			}
		}
	}

	.tab-comment {
		& > .tab-wrap {
			padding: 18px;
			overflow-y: auto;
		}

		.publish-comment {
			.comment-content {
				width: 100%;
				height: 100px;
				padding: 6px 8px;
				color: #9ba6c2;
				border: 1px solid #484f5f;
				background-color: #262a34;
			}

			.publish {
				height: 40px;
				width: 120px;
				float: right;
				color: white;
				background-color: #488ac0;
			}

			.publish-wrap {
				margin-top: 20px;
				margin-bottom: 20px;
				height: 40px;
			}
		}

		.comment-item {
			border-top: 1px solid #3a3f4a;
			padding-top: 20px;
			padding-bottom: 20px;
			color: #9ba6c2;

			.left {
				width: 40px;
				float: left;

				.photo {
					width: 40px;
					height: 40px;
					border-radius: 50%; 
				}
			}

			.right {
				margin-left: 60px;

				.comment-header {
					height: 17px;
					font-size: 12px;

					.name {
						float: left;
					}

					.floor {
						float: right;
					}
				}
				
				.comment-content {
					margin-top: 4px;
					margin-bottom: 20px;
					font-size: 14px;
					line-height: 24px;
				}

				.publish-time {
					color: #585f71;
					font-size: 12px;
				}
			}
		}
	}
}