* {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start: 0px;
	outline: none;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

li {
	list-style: outside none none;
}

ul, li {
	margin: 0;
}

input {
	outline: none;
}

body {
	font-family: 'Microsoft YaHei';
	color: #515151;
	font-size: 14px;
}

$blue: #4891ed;

input, textarea {
	font-family: 'Microsoft YaHei';
	font-size: 14px;
}

.hide {
	display: none;
}

.main {
	.tab {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		display: none;

		&.active {
			display: block;
		}

		.btn {
			background-color: white;
			color: $blue;
			border: 1px solid $blue;
			cursor: pointer;
		}
	}

	.tab-connect {
		.wrap {
			// text-align: center;

			.message-wrap {
				height: 30px;
				line-height: 30px;
				text-align: center;
				margin-top: 80px;
				margin-bottom: 20px;
				color: red;
			}

			select {
				height: 30px;
				line-height: 30px;
				border: 1px solid $blue;
				padding-left: 5px;
			}

			.port {
				margin-left: 10px;
				margin-right: 20px;
				width: 80px;
			}

			.bitRate {
				margin-left: 10px;
				width: 100px;
			}

			.connect {
				width: 80px;
				height: 30px;
				margin-left: 20px;
			}
		}
	}

	.tab-debug {
		.wrap {
			padding: 15px;
			.input-label {
				margin-bottom: 6px;
			}

			.send-wrap {
				height: 30px;
			}

			.input {
				border: 1px solid $blue;
				width: 354px;
				height: 30px;
				padding-left: 5px;
				padding-right: 5px;
				line-height: 30px;
			}

			.send {
				border-left: none;
				width: 80px;
				height: 30px;
			}

			.output-label {
				margin-top: 14px;
				margin-bottom: 6px;
			}

			.output {
				resize: none;
				width: 100%;
				padding: 5px;
				border: 1px solid $blue;
			}
		}
	}
}