/* line 1, index.scss */
* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, index.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, index.scss */
li {
  list-style: outside none none;
}

/* line 25, index.scss */
ul, li {
  margin: 0;
}

/* line 29, index.scss */
input {
  outline: none;
}

/* line 33, index.scss */
body {
  font-family: 'Microsoft YaHei';
  color: #515151;
  font-size: 14px;
}

/* line 41, index.scss */
input, textarea {
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}

/* line 46, index.scss */
.hide {
  display: none;
}

/* line 51, index.scss */
.main .tab {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: none;
}
/* line 59, index.scss */
.main .tab.active {
  display: block;
}
/* line 63, index.scss */
.main .tab .btn {
  background-color: white;
  color: #4891ed;
  border: 1px solid #4891ed;
  cursor: pointer;
}
/* line 72, index.scss */
.main .tab-connect .wrap {
  text-align: center;
}
/* line 75, index.scss */
.main .tab-connect .wrap .message-wrap {
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  color: red;
}
/* line 84, index.scss */
.main .tab-connect .wrap select {
  height: 30px;
  line-height: 30px;
  border: 1px solid #4891ed;
  padding-left: 5px;
}
/* line 91, index.scss */
.main .tab-connect .wrap .port {
  margin-left: 10px;
  margin-right: 20px;
  width: 80px;
}
/* line 97, index.scss */
.main .tab-connect .wrap .bitRate {
  margin-left: 10px;
  width: 100px;
}
/* line 102, index.scss */
.main .tab-connect .wrap .connect {
  width: 80px;
  height: 30px;
  margin-left: 20px;
}
/* line 111, index.scss */
.main .tab-debug .wrap {
  padding: 15px;
}
/* line 113, index.scss */
.main .tab-debug .wrap .input-label {
  margin-bottom: 6px;
}
/* line 117, index.scss */
.main .tab-debug .wrap .send-wrap {
  height: 30px;
}
/* line 121, index.scss */
.main .tab-debug .wrap .input {
  border: 1px solid #4891ed;
  width: 354px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
}
/* line 130, index.scss */
.main .tab-debug .wrap .send {
  border-left: none;
  width: 80px;
  height: 30px;
}
/* line 136, index.scss */
.main .tab-debug .wrap .output-label {
  margin-top: 14px;
  margin-bottom: 6px;
}
/* line 141, index.scss */
.main .tab-debug .wrap .output {
  resize: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #4891ed;
}
/* line 151, index.scss */
.main .tab-burn .wrap {
  text-align: center;
}
/* line 154, index.scss */
.main .tab-burn .wrap .message-wrap {
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  color: red;
}
/* line 163, index.scss */
.main .tab-burn .wrap .selectFile {
  width: 80px;
  height: 30px;
}
/* line 168, index.scss */
.main .tab-burn .wrap .burn {
  width: 80px;
  height: 30px;
  margin-left: 30px;
}
