.arduino-driver-dialog {
	width: 500px;

	.x-dialog-title {
		color: white;
	    background-color: #939ba4;
	}
	
	.x-dialog-content {
		height: 150px;
		display: block;
		padding: 15px;

		.step {
			margin-top: 10px;
			margin-left: 24px;
			line-height: 24px;
			a {
				color: #4bc1ec;
				text-decoration: none;
			}
		}
	}
}