@include keyframes('scan-fadeIn') {
	from {
		opacity: 0;
		transform: translateX(120px);
	}
	to {
		opacity: 1;
		transform: translateX(260px);
	}
}

@include keyframes('scan-fadeOut') {
	from {
		opacity: 1;
		transform: translateX(260px);
	}
	to {
		opacity: 0;
		transform: translateX(360px);
	}
}

.login-dialog {
	width: 320px;
	height: 360px;
	padding: 10px 20px 20px 20px;
	background-color: white;

	.x-dialog-close {
		left: 8px;
		width: 20px;
		color: #a8a8a8;
	}

	.switch {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		display: none;

		li {
			height: 64px;
			width: 64px;
			display: block;

			&.active {
				display: none;
			}
		}

		.weixin {
			background-image: url('../image/weixin-login.png');

			.tips {
				letter-spacing: 0.85px;
				height: 36px;
				line-height: 36px;
				font-size: 12px;
				padding-left: 14px;
				padding-right: 14px;
				position: absolute;
				top: 10px;
				right: -135px;
				color: white;
				display: none;
				background-color: #2093ff;

				&:before {
					border: solid transparent;
					content: ' ';
					height: 0;
					width: 0;
					border-width: 6px;
					top: 9px;
					left: -12px;
					position: absolute;
					border-right-color: #2093ff;
				}
			}

			&:hover {
				.tips {
					display: block;
				}
			}
		}

		.account {
			background-image: url('../image/account-login.png');
		}

		&.active {
			display: block;
		}
	}

	.logo {
		background: url('../image/logo2.png') no-repeat center;
		background-size: 112px 44px;
		height: 44px;
		margin-top: 5px;
		margin-bottom: 13px;
	}

	.seperator {
		height: 1px;
		background-color: #ccc;
	}

	.tab {
		display: none;

		&.active {
			display: block;
		}
	}

	.tab-account {
		.title {
			height: 20px;
			line-height: 20px;
			margin-top: 20px;
			margin-bottom: 20px;
			color: #515151;
		}

		.field {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}

			.icon {
				float: left;
				height: 36px;
				width: 36px;
				background-color: #999;

				& > i {
					font-size: 28px;
					line-height: 36px;
					margin-left: 4px;
					color: white;
				}
			}

			& > input {
				display: block;
				width: 244px;
				margin-left: 36px;
				height: 36px;
				line-height: 36px;
				font-size: 12px;
				padding-left: 8px;
				padding-right: 8px;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				background-color: #f8f8f8;
				color: #515151;
			}
		}

		.message {
			visibility: hidden;
			text-align: center;
			height: 20px;
			line-height: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
			color: red;

			&.active {
				visibility: visible;
			}
		}

		.login-btn {
			display: block;
			width: 100%;
			height: 36px;
			line-height: 36px;
			text-align: center;
			letter-spacing: 5px;
			color: white;
			background-color: #197CD9;

			&:hover {
				background-color: #2093ff;
			}
		}
	}

	.tab-weixin {
		.qrcode {
			width: 150px;
			height: 150px;
			display: block;
			margin: 20px auto 10px auto;
		}

		.tips {
			letter-spacing: 2.32px;
			line-height: 20px;
			text-align: center;
			color: #515151;
		}

		.login-tips {
			display: none;
			
			&.active {
				display: block;
			}
		}

		.register-tips {
			display: none;
			
			&.active {
				display: block;
			}
		}

		.scan {
			position: absolute;
			left: 120px;
			top: -80px;
			display: none;

			&.active {
				display: block;
			}

			&.x-fadeIn {
				@include animation('scan-fadeIn' 0.3s cubic-bezier(0, 0.8, 0.1, 1) both);
			}

			&.x-fadeOut {
				@include animation('scan-fadeOut' 0.2s cubic-bezier(0.8, 0, 1, 0.1) forwards);
			}
		}
	}

	.footer {
		position: absolute;
		bottom: 30px;
		left: 20px;
		right: 20px;

		letter-spacing: 0.85px;
		font-size: 12px;

		.login-footer {
			display: none;

			&.active {
				display: block;
			}

			.forget-password {
				color: #fb8920;
				float: left;
			}

			.register {
				float: right;
				color: #fb8920;
			}

			.no-account {
				float: right;
				color: #999;
			}
		}

		.register-footer {
			display: none;
			text-align: center;

			&.active {
				display: block;
			}

			.no-account {
				color: #999;
			}

			.register {
				color: #fb8920;
			}
		}
	}
}