.hardware {
	.tools {
    	z-index: 98;
		top: 10px;
		left: 10px;
		position: absolute;

		ul li {
			margin-bottom: 10px;
			text-align: center;
			cursor: pointer;
			width: 30px;
			height: 30px;
			font-size: 20px;
			border-radius: 50%;

			&:last-child {
				margin-bottom: 0;
			}

      		&>i {
				font-size: 20px;
				line-height: 30px;
				display: block;
			}

			&:first-child {
				& > i {
      				margin-left: 3px;
				}
      		}
		}
	}

	.center {
		height: 100%;
	}

	.copyright {
		width: 100%;
		bottom: 0;
		z-index: 99;
		position: absolute;

		.alert {
			width: 560px;
			font-size: 12px;
			margin-bottom: 0;
			padding-top: 4px;
			padding-bottom: 4px;
			border-radius: 0;
			border: none;
			line-height: 20px;
			text-align: center;
			margin: 0 auto;
			color: #676767;
		}    
	}

	.name-dialog {
		z-index: 998;
		top: 90px;
		width: 250px;
		margin: 0 auto;
		position: relative;
		display: none;
		
		.name-label {
			display: block;
			background-color: #F1C933;
			float: left;
			color: black;
			width: 50px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}

		.name {
			border: 2px solid #F1C933;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			float: left;
			color: black;
			width: 200px;
			height: 36px;
			padding: 10px 8px;
		}
	}
}