.header {
  .left {
    width: 248px;
    height: 100%;
    float: left;
    .logo {
      margin-left: 10px;
      height: 60px;
      width: 103px;
      line-height: 60px;
      float: left;
    }
  }
}