$header-height: 60px;

.main {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	.header {
		height: $header-height;
	}

	.content {
		top: $header-height;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

		.mod {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			visibility: hidden;

			&.active {
				visibility: visible;
			}
		}
	}
}