$header-height: 60px;

.main {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	.header {
		height: $header-height;
		background-color: #3E3D44;
	}

	.content {
		top: $header-height;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

		.mod {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			visibility: hidden;

			&.active {
				visibility: visible;
			}
		}
	}
}

.content .tab {
	width: 32px;
		float: left;

	ul {
		float: left;
		li {
			width: 24px;
			justify-content:center;
			align-items:center;
			display:-webkit-flex;
			display: flex;
			cursor: pointer;

			&:hover, &.active {
				width: 32px;
				a {
					color: white;
				}
			}

			a {
				width: 14px;
				color: $font-color;
				display: block;
			}
		}
	}
}