.software {
	.editor {
		font-size: 16px;
		height: 100%;
	}

	.back {
		right: 20px;
		bottom: 25px;
		cursor: pointer;
		position: absolute;

		&:hover {
			.icon {
				display: none;
			}

			.text {
				display: block;
			}
		}

		.icon {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #a0a1a4;
			font-size: 20px;
			background-color: #cbced3;
			border: 1px solid #a6a9af;
			display: block;
		}

		.text {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: white;
			background-color: #a0a1a4;
			display: none;
		}
	}
}