/* line 1, index.scss */
* {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, index.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, index.scss */
li {
  list-style: outside none none;
}

/* line 25, index.scss */
ul, li {
  margin: 0;
}

/* line 29, index.scss */
input {
  outline: none;
}

/* line 33, index.scss */
body {
  font-family: 'Microsoft YaHei';
  color: #515151;
  font-size: 14px;
}

/* line 39, index.scss */
a, a:visited {
  text-decoration: none;
}

/* line 43, index.scss */
.main {
  background: url("../images/bg.jpg") no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
/* line 51, index.scss */
.main .welcome {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
/* line 58, index.scss */
.main .content {
  margin-top: 30px;
  font-size: 18px;
  padding-left: 80px;
  padding-right: 50px;
}
/* line 64, index.scss */
.main .content .link {
  text-decoration: none;
  color: blue;
}
/* line 69, index.scss */
.main .content .info {
  margin-top: 40px;
}
/* line 74, index.scss */
.main .author {
  position: absolute;
  font-size: 16px;
  bottom: 80px;
  right: 45px;
  font-weight: bold;
}
/* line 82, index.scss */
.main .version {
  position: absolute;
  font-size: 12px;
  left: 50px;
  bottom: 30px;
}
